.app-container {
    @media screen and (min-width: 1400px){
        max-width: 1200px;
        margin: 0 auto;
    }

    @media screen and (max-width: 1399px){
        max-width: 960px;
        margin: 0 auto;
    }

    @media screen and (max-width: 991px){
        max-width: 800px;
        margin: 0 auto;
    }
}